@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --bg-primary: #0a0a0c;
  --bg-secondary: #16111d;
  --bg-tertiary: #7f13ec;
	--bg-quaternary: #0c0725;

  --text-primary: #f7f6f8;
  --text-secondary: #64748b;
  --text-tertiary: #474747;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	color: var( --text-primary);
	font-family: 'Spline Sans', sans-serif;
}

body {
  background-color: var(--bg-primary);
}

a {
	text-decoration: none;
}

a:hover {
		color: var(--bg-tertiary);

}